.logo {
  display: block;
}

// ---------- Пресеты ----------
.xs { height: 58px; width: auto; }
.sm { height: 44px; width: auto; }
.md { height: 64px; width: auto; }
.lg { height: 96px; width: auto; }